pyhorizon
flake8==3.5.0
envparse==0.2.0
Flask==1.0.2
Flask-Cors==3.0.3
Flask-PyMongo==2.1.0
Flask-RESTful==0.3.6
Flask-Testing==0.7.1
Flask-WTF==0.14.2
jinja2==2.10
pymongo==3.7.2
pytest==3.3.2
requests==2.18.4
Werkzeug==0.14.1
certifi==0.0.8
chardet==1.0.1
setuptools==40.5.0
itsdangerous==0.24
click==5.1
MarkupSafe==0.23
gunicorn==19.9.0

