<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seven Days Update</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
<header><h2>Welcome to National Aeronautics and Space Administration (NASA) Asteroid distance update!</h2>
        <h4>**NASA is an American agency responsible for aeronautics and aerospace research</h4></header>
<table>
    <thead>
    <tr>
        <th>No.</th>
        <th>Asteroid Name</th>
        <th>Asteroid Distance(km)</th>
    </tr>
    </thead>
    <tbody>
    <div id="display">

        {% for day,value in seven_days_values.items() %}

            <tr>

                <td>Asteroids for  {{ day }} </td>

            </tr>

            {%for five in value%}
                <tr>

                    <td>{{ five.count }}</td><td> {{ five.name }} </td><td> {{ five.distance }}  </td>

                </tr></div>

            {%endfor%}

        {%endfor%}

    </tbody>

</table>
</body>
</html>