<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seven Days Update</title>
</head>

<body>
<table>
    <thead>
    <tr>
        <th>No.</th>
        <th>Asteroid Name</th>
        <th>Asteroid Distance(km)</th>
    </tr>
    </thead>
    <tbody>
            <div id="display">
            {% for date, values in seven_days_values.items() %}
                 <tr>
                    <td>Asteroids for  {{ date }} </td>
                 </tr>

                {%for field in date%}
                <tr>

                    <td>{{ field.count }}</td><td> {{ field.name }} </td><td> {{ field.distance }} </td>

                </tr></div>


                 {%endfor%}

            {%endfor%}

    </tbody>

</table>
</body>
</html>