<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seven Days Update</title>
</head>

<body>
<header><h2>Welcome to National Aeronautics and Space Administration (NASA) Asteroid distance update!</h2>
        <h4>**NASA is an American agency responsible for aeronautics and aerospace research</h4></header>
<table>
    <thead>
    <tr>
        <th>No.</th>
        <th>Asteroid Name</th>
        <th>Asteroid Distance(km)</th>
    </tr>
    </thead>
    <tbody>
            <div id="display">
            {% for i,c in seven_days_values.items() %}
                 <tr>
                    <td>Asteroids for  {{ i }} </td>
                 </tr>

                {%for do in c%}
                <tr>

                    <td>{{ do.count }}</td><td> {{ do.name }} </td><td> {{ do.distance }} </td>

                </tr><br></div>


                 {%endfor%}

            {%endfor%}

    </tbody>

</table>
</body>
</html>